.CartNoProd{
     border: solid 2px rgb(139, 1, 1);
    background-color: rgba(99, 29, 29, 0.844);
    color: rgb(248, 207, 2);
    padding: 5px;
    font-size: 40px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    margin: 50px auto;
border-radius: 15px;

}

.btnNoProd{
    color: rgb(228, 255, 94);
    border: solid 2px rgb(139, 1, 1);
    background-color: rgba(99, 29, 29, 0.844);
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 5px;
    width: 250px;
    height: 85px;
    margin: 8px auto;
font-weight: bold;
font-size: 30px;

 display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    
}

.btnNoProd:hover{

        background-color: rgb(142, 12, 2); 
    transform: scale(1.1); 
}

.btnFinCompra{

    color: rgba(255, 255, 255, 0.844);
    border: solid 2px rgb(203, 203, 2);
    background-color: rgba(80, 77, 0, 0.925);
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 5px;
    width: fit-content;
    height: 75px;
    margin: 8px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    text-decoration: none;
    font-weight: bold;
}

.btnFinCompra:hover{

       background-color:  rgb(203, 203, 2);
    transform: scale(1.2);
 border: solid 2px rgb(139, 1, 1);
 color: rgb(47, 1, 1);
}

.formLabel{
    color: rgb(255, 255, 255);
    border: solid 2px rgb(203, 203, 2);
    background-color: rgba(80, 77, 0, 0.925);
border-radius: 5px;
  width: 350px;
    height: 35px;
    display: flex;
align-items: center;
justify-content: space-evenly;
gap: 10px;
margin-top: 30px;
font-size: 20px;
font-weight: bold;

}